html { scroll-behavior: smooth; } 
body{
      background-color: black;
      margin: auto;
      width:100%;
      max-width: 1920px;
      min-width: 1000px;
}

.header_div{
      background-color: rgb(19, 19, 19);
      background:linear-gradient(to right, rgb(0, 0, 0), #003546,#000000, #003c53,#002649,#000000, #000000);
      height:120px;
}

.name_div{
      position: relative;
      top: 0;
      left: 0;
      background-color: rgb(0, 0, 0);
}

.about_div{
      margin-top: 0px;
      position:relative;
      top: 0;
      left: 0;
      background-color: rgb(21, 0, 22);
      height:1300px;

}

.exp_div{
      margin-top: 0px;
      position:relative;
      background-color: rgb(19, 22, 0);
      height:1500px;

}

.skills_div{
      margin-top: 0px;
      position:relative;
      background-color: rgb(27, 27, 27);
      height:1500px;

}

.contact_div{
      margin-top: 0px;
      position:relative;
      background-color: rgb(0, 35, 44);
      height:1300px;

}

.small_image{
      height: 60px;
      width: 60px;
}

.header_text{
      margin-left:35px;
      margin-top:50px;
      margin-right:40px;
      margin-bottom: 20px;
      color:white;
      font-size:24px;
      font-weight:bolder;
      font-family: 'Arial';
      display:inline-block;
}

.header_text:hover{
      background:linear-gradient(to right, rgb(255, 196, 33), #fffd78);
      -webkit-text-fill-color:transparent;
      -webkit-background-clip:text;
}

.github{
      position: relative;
      left:850px;
      top:15px;
      height:50px;
      width: 50px;
}

.github:hover{
      height:55px;
      width: 55px;
      
}

.linkedin{
      position: relative;
      left:950px;
      top:15px;
      height:45px;
      width: 45px;
}

.linkedin:hover{
      
      height:50px;
      width: 50px;

}
.twitter{
      position: relative;
      left:1050px;
      top:15px;
      height:40px;
      width: 40px;
}

.twitter:hover{
      height:45px;
      width: 45px;
}
.background1{
      position: relative;
      top: 0;
      left: 0;
      bottom:0;
      right:0;
      width:100%;
      height:100%;
      -webkit-filter: brightness(30%);
}

.background2{
      position: relative;
      top: 0;
      left: 0;
      bottom:0;
      right:0;
      width:100%;
      height:100%;
      -webkit-filter: brightness(30%);
}

.background3{
      position: relative;
      top: 0;
      left: 0;
      bottom:0;
      right:0;
      width:100%;
      height:100%;
      -webkit-filter: brightness(30%);
}

.background4{
      position: relative;
      top: 0;
      left: 0;
      bottom:0;
      right:0;
      width:100%;
      height:100%;
      -webkit-filter: brightness(20%);
}

.background5{
      position: relative;
      top: 0;
      left: 0;
      bottom:0;
      right:0;
      width:100%;
      height:100%;
      -webkit-filter: brightness(20%);
}
.profile_pic{
      position:absolute;
      top: 270px;
      left: 770px;
      height:300px;
      width:300px;
}

.introline{
      position:absolute;
      top: 600px;
      left: 550px;
      color:white;
      font-size:90px;
      font-weight:bolder;
      font-family: 'Itim', cursive;
      background:linear-gradient(to right, rgb(25, 240, 255), #f7cbe3,#d8acf1, #9fecff);
      -webkit-text-fill-color:transparent;
      -webkit-background-clip:text;
}

.introline2{
      position:absolute;
      top: 800px;
      left: 340px;
      font-size:50px;
      font-weight:bolder;
      font-family: 'Itim', cursive;
      background:linear-gradient(to right, rgb(92, 236, 255), #ff9ad2,#d8acf1, #ffbd59);
      -webkit-text-fill-color:transparent;
      -webkit-background-clip:text;
}

.aboutline{
      margin:0;
      top: 200px;
      left:750px;
      width:350px;
      position:absolute;
      font-size:80px;
      font-weight:bolder;
      font-family: 'Itim', cursive;
      background:linear-gradient( to right, rgb(78, 228, 255), #88d9ff,#6399ff,#6bd5ff);
      -webkit-text-fill-color:transparent;
      -webkit-background-clip:text;
}

.aboutline2{
      margin:0;
      position:absolute;
      font-size:35px;
      top: 400px;
      left:170px;
      height:800px;
      width:1600px;
      font-weight:bolder;
      font-family: 'Itim', cursive;
      text-align: center;
      word-spacing: 6px;
      line-height: 55px;
      background:linear-gradient( to right, rgb(128, 194, 255), #ffa4eb,#ffdae5,#f8ff99);
      -webkit-text-fill-color:transparent;
      -webkit-background-clip:text;
}

.expline{
      margin:0;
      top: 30px;
      left:700px;
      width:500px;
      position:absolute;
      font-size:65px;
      font-weight:bolder;
      font-family: 'Itim', cursive;
      background:linear-gradient( to right, rgb(249, 255, 171), #fff237,#ffdc42,#ffa52e);
      -webkit-text-fill-color:transparent;
      -webkit-background-clip:text;
}

.expline2{
      margin:0;
      position:absolute;
      font-size:28px;
      top: 150px;
      left:120px;
      height:1200px;
      width:1700px;
      font-weight:bolder;
      font-family: 'Itim', cursive;
      text-align: left;
      word-spacing: 5px;
      line-height: 50px;
      background:linear-gradient( to right, rgb(128, 194, 255), #ffa4eb,#ffdae5,#f8ff99);
      -webkit-text-fill-color:transparent;
      -webkit-background-clip:text;
}

.middle{
      text-align: center;
      margin:0;
      padding:0;
}

.heading_intel{
      text-align: left;
      background:linear-gradient( to right, rgb(84, 255, 49), #19ffba,#0eff56,#39ff11);
      -webkit-text-fill-color:transparent;
      -webkit-background-clip:text;
      margin:0;
      padding:0;
      font-size: 36px;
}
.heading_arm{
      text-align: right;
      background:linear-gradient( to right, rgb(84, 255, 49), #19ffba,#0eff56,#39ff11);
      -webkit-text-fill-color:transparent;
      -webkit-background-clip:text;
      text-align: left;
      margin:0;
      padding:0;
      font-size: 36px;
}

.heading_elxsi{
      text-align: left;
      background:linear-gradient( to right, rgb(84, 255, 49), #19ffba,#0eff56,#39ff11);
      -webkit-text-fill-color:transparent;
      -webkit-background-clip:text;
      text-align: left;
      margin:0;
      padding:0;
      font-size: 36px;
}
.arm_text{
      text-align: left;
      font-size: 34px;
}

.intel_logo{
      position: absolute;
      left:1500px;
      top:0px;
      height:50px;
      width: 100px;
}


.arm_logo{
      position: absolute;
      left:1590px;
      top:480px;
      height:30px;
      width: 100px;
}

.elxsi_logo{
      position: absolute;
      left:1270px;
      top:880px;
      height:80px;
      width: 130px;
}

ul{
      list-style-type: none;
}

.skillline{
      margin:0;
      top: 60px;
      left:710px;
      width:600px;
      position:absolute;
      font-size:70px;
      font-weight:bolder;
      font-family: 'Itim', cursive;
      background:linear-gradient( to right, rgb(249, 255, 171), #fff237,#ffdc42,#ffa52e);
      -webkit-text-fill-color:transparent;
      -webkit-background-clip:text;
}

.skillline2{
      margin:0;
      position:absolute;
      font-size:28px;
      top: 200px;
      left:120px;
      height:1200px;
      width:1700px;
      font-weight:bolder;
      font-family: 'Itim', cursive;
      text-align: left;
      word-spacing: 5px;
      line-height: 50px;
      background:linear-gradient( to right, rgb(44, 248, 255), #60ff4b,#b7ff59,#fdff89);
      -webkit-text-fill-color:transparent;
      -webkit-background-clip:text;
}

.verilog{
      position: absolute;
      left:20px;
      top:100px;
      height:150px;
      width: 300px;
}

.sv{
      position: absolute;
      left:40px;
      top:350px;
      height:200px;
      width: 250px;
}

.uvm{
      position: absolute;
      left:40px;
      top:680px;
      height:90px;
      width: 260px;
}

.amba{
      position: absolute;
      left:20px;
      top:950px;
      height:150px;
      width: 330px;
}

.python{
      position: absolute;
      left:500px;
      top:80px;
      height:200px;
      width: 200px;
}

.cpp{
      position: absolute;
      left:510px;
      top:360px;
      height:200px;
      width: 200px;
}

.c{
      position: absolute;
      left:530px;
      top:650px;
      height:170px;
      width: 170px;
}

.vim{
      position: absolute;
      left:530px;
      top:930px;
      height:180px;
      width: 180px;
}

.fe{
      position: absolute;
      left:970px;
      top:80px;
      height:200px;
      width:200px;
}

.ethernet{
      position: absolute;
      left:1000px;
      top:380px;
      height:160px;
      width: 160px;
}

.perl{
      position: absolute;
      left:980px;
      top:650px;
      height:150px;
      width: 220px;
}

.git{
      position: absolute;
      left:920px;
      top:950px;
      height:120px;
      width: 350px;
}

.fpga{
      position: absolute;
      left:1470px;
      top:100px;
      height:160px;
      width:160px;
}

.can{
      position: absolute;
      left:1450px;
      top:350px;
      height:200px;
      width: 200px;
}

.debug{
      position: absolute;
      left:1500px;
      top:650px;
      height:170px;
      width: 170px;
}

.os{
      position: absolute;
      left:1400px;
      top:910px;
      height:200px;
      width: 300px;
}

.contactline{
      margin:0;
      top: 200px;
      left:550px;
      width:1000px;
      position:absolute;
      font-size:80px;
      font-weight:bolder;
      font-family: 'Itim', cursive;
      background:linear-gradient( to right, rgb(255, 252, 97), #b9ff69,#54ff87,#1cff28);
      -webkit-text-fill-color:transparent;
      -webkit-background-clip:text;
}

.contactline2{
      margin:0;
      position:absolute;
      font-size:40px;
      top: 300px;
      left:50px;
      height:900px;
      width:1800px;
      font-weight:bolder;
      font-family: 'Itim', cursive;
      text-align: center;
      word-spacing: 5px;
      line-height: 50px;
      background:linear-gradient( to right, rgb(128, 194, 255), #ffa4eb,#ffdae5,#f8ff99);
      -webkit-text-fill-color:transparent;
      -webkit-background-clip:text;
}



table {
      margin-left: 130px;
      margin-top: 150px;
      border: 1px solid rgb(0, 0, 0);
      border-collapse: collapse;
      width: 1600px;
      border-spacing: 0px;
      word-spacing: 0px;
      }
      
td {
      border: none;
      }

.scroll{
            z-index:100;
            height:30px;
            width: 30px;
            position:fixed;
            left:95%;
            top:95%;
            opacity: 100%; 
            border-radius: 10px;  
      }
.scroll:hover{
      border:solid #6bd5ff;
}

td:hover{
      background:linear-gradient( to right, rgb(255, 252, 97), #b9ff69,#54ff87,#1cff28);
      -webkit-text-fill-color:transparent;
      -webkit-background-clip:text;

}

tr{
      height:100px;
}