body{
   background-color:mintcream;
   font-family: sans-serif; 
}

hr{
    border-style: dotted none none none;
    border-color: rgb(83, 83, 83);
    width:auto;
    border-width: 5px;
}

h1{
    color: rgb(0, 82, 158);
}

h3{
    color: rgb(0, 82, 158);
}
